<h1>Menu session</h1>

<h2 style="color:blue">@ViewData["NUMERO"]</h2>




<ul>
    <li>
        <a asp-controller="EjemplosSession" asp-action="SessionSimple">Session Simple</a>
    </li>
    <li>
        <a asp-controller="EjemplosSession" asp-action="SessionPersona">Session Persona</a>
    </li>
    <li>
        <a asp-controller="EjemplosSession" asp-action="ColeccionSessionPersona">Coleccion Session Persona</a>
    </li>
    <li>
        <a asp-controller="EjemplosSession" asp-action="SessionPersonaJson">Session Persona Json</a>
    </li>
    <li>
        <a asp-controller="EjemplosSession" asp-action="SessionPersonaObject">Session Persona Object</a>
    </li>
    <li>
        <a asp-controller="EjemplosSession" asp-action="ColeccionSessionObject">Coleccion Session Persona Object</a>
    </li>
</ul>