<h1>Session Simple</h1>

<h2 style="color:red">@ViewData["NUMERO"]</h2>

<a asp-controller="EjemplosSession" asp-action="SessionSimple" asp-route-accion="almacenar">Almacenar</a>
<a asp-controller="EjemplosSession" asp-action="SessionSimple" asp-route-accion="mostrar">Mostrar</a>

<h2>@ViewData["MENSAJE"]</h2>

<h2 style="color:blue">@ViewData["USUARIO"]</h2>
<h2 style="color:fuchsia">@ViewData["HORA"]</h2>